*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-image: url("pexels-photo-2559941.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 10px;
}

.container
{
    max-width: 500px;
    width: 100%;
    background-color: white;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.container .title
{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #d071f9;
    text-transform: uppercase;
    text-align: center;
}

.container .form
{
    width: 100%;
}

.container .form .input_field
{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.container .form .input_field label
{
    width: 200px;
    margin-right: 10px;
    font-size: 14px;

}

.container .form .input_field .input,
.container .form .input_field .textarea
{
    width: 100%;
    outline: none;
    border: 1px solid #d071f9;
    font-size: 15px;
    padding: 4px 8px;
    border-radius: 3px;
    transition: all 0.5s ease;
}

.container .form .input_field .textarea
{
    resize: none;
    height: 70px;
}

.container .form .input_field .selectbox
{
    position: relative;
    padding: 30px 20px;
    width: 102%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #d071f9;
    outline: none;

}

.container .form .input_field .input:focus,
.container .form .input_field .textarea:focus,
.container .form .input_field select:focus
{
    border: 1px solid yellowgreen;
}



.container .form .input_field p
{
    font-size: 15px;
    color: #757575;

}

.container .form .input_field .check
{
    width: 15px;
    height: 1cm;
    position: relative;
    display: block;
    cursor: pointer;
}

.container .form .input_field .btn
{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #d071f9;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.container .form .input_field:last-child
{
    margin-bottom: 0;
}

.container .form .input_field .btn:hover
{
    background: purple;
}

@media (max-width:420px)
{
    .container .form .input_field
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .container .form .input_field label
    {
        margin-bottom: 5px;
    }

    .container .form .input_field.terms
    {
        flex-direction: row;
    }
}